@charset "UTF-8";
/* importacion de utilities */
.Icon, .foot-Poke .contactoFooter .cards img, footer .contactoFooter .cards img {
  width: 40px;
  height: 40px;
}

.cajaIcon, .foot-Poke .contactoFooter .cards, footer .contactoFooter .cards {
  padding: 150px;
  width: 50px;
  height: 50px;
  margin-right: 25px;
  justify-content: space-between;
}

.diseñoPerrosimg, .main-Perros img {
  margin-top: 15px;
  border-radius: 5%;
}

/* importacion de base */
* {
  box-sizing: border-box;
  margin: 0;
}

.allIndex {
  background-color: rgb(221, 208, 213);
}

.allPoke {
  background-color: #61B876;
}

.allPerros {
  background-color: rgb(103, 119, 170);
}

.header-Perros {
  background-color: rgb(143, 143, 143);
}

.foot-Perros {
  background-color: rgb(103, 119, 170);
}

.bodyContacto {
  background-color: rgb(221, 208, 213);
}

.mainContacto {
  background: red;
}

/* importaciones de layouts */
.Icon, .foot-Poke .contactoFooter .cards img, footer .contactoFooter .cards img {
  width: 40px;
  height: 40px;
}

.cajaIcon, .foot-Poke .contactoFooter .cards, footer .contactoFooter .cards {
  padding: 150px;
  width: 50px;
  height: 50px;
  margin-right: 25px;
  justify-content: space-between;
}

.diseñoPerrosimg, .main-Perros img {
  margin-top: 15px;
  border-radius: 5%;
}

/* index */
.navIndex {
  float: right;
}
.navIndex ul {
  margin-right: 15px;
}
.navIndex ul li {
  list-style: none;
  margin-left: 70px;
  padding: 25px 0;
  float: left;
}
.navIndex ul li a {
  text-decoration: none;
  color: black;
}

main .primerSec {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 180px;
}
main .primerSec .fotoIndex {
  /* display: flex; */
  padding: 20px;
}
main .primerSec .fotoIndex img {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  margin-left: 650px;
  width: 150px;
  height: 150px;
}

.tecnologias {
  margin-top: 100px;
  margin-bottom: 150px;
  justify-content: space-between;
  padding: 25px;
}
.tecnologias img {
  height: 80px;
  width: 80px;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

footer {
  background-color: rgb(216, 188, 233);
  width: 100%;
  height: 250px;
}
footer .contactoFooter {
  justify-content: space-between;
  align-items: center;
  height: 200px;
}
/* POKEMONES */
.header-Poke {
  width: 100%;
  height: 400px;
}

.navPoke ul {
  list-style: none;
  height: 67px;
  width: 100%;
  margin: 0;
  padding: 0;
  border-radius: 5px 5px 5px 5px;
}
.navPoke ul li {
  float: left;
}
.navPoke ul li a {
  background: linear-gradient(to bottom, #8ab66b 44%, #c9de96 77%);
  color: rgb(0, 0, 0);
  text-decoration: none;
  display: block;
  padding: 12px 30px;
  font-size: 17px;
}

.sect-Titulo .contTitulo {
  padding: 30px;
  width: 100%;
}
.sect-Titulo .contTitulo .tituloPoke {
  text-align: center;
  font-size: 100px;
}

.pokeCards {
  margin-bottom: 30px;
}
.pokeCards .poke {
  margin-bottom: 30px;
}
.pokeCards .poke img {
  height: 200px;
  width: 200px;
}

.pokeCards .poke img:hover {
  height: 300px;
  width: 300px;
}

.foot-Poke {
  background-color: rgb(148, 182, 148);
  width: 100%;
  height: 250px;
}
.foot-Poke .contactoFooter {
  justify-content: space-between;
  align-items: center;
  height: 200px;
}
/* PERROS */
.header-Perros {
  background-color: rgb(103, 119, 170);
}
.header-Perros .nav-Perros {
  align-items: center;
}
.header-Perros .nav-Perros ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.header-Perros .nav-Perros ul li {
  display: inline-block;
  background: linear-gradient(to bottom, #7d7e7d 0%, #0e0e0e 54%);
}
.header-Perros .nav-Perros ul li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 12px 80px;
  font-size: 17px;
}

.main-Perros .parrafoInicial {
  width: 100%;
  height: 120px;
  text-align: center;
  padding: 70px;
  margin: 0 0 0 0;
  margin-bottom: 50px;
}
.main-Perros .parrafoInicial .parrafo {
  margin: 0 0 0 0;
  width: 100%;
  height: 150px;
  padding: 30px;
  font-size: 20px;
  color: white;
}

.primerCards {
  gap: 10px;
  margin-bottom: 15px;
}
.primerCards .berna {
  height: 400px;
}
.primerCards .border {
  height: 700px;
}
.primerCards .dober {
  height: 680px;
}

.segundoCards {
  gap: 10px;
  margin-top: 15px;
}
.segundoCards .leonberger {
  height: 570px;
}
.segundoCards .mallinois {
  height: 720px;
}
.segundoCards .mastinIta {
  height: 750px;
}

.tercerCards {
  gap: 10px;
  margin-top: 15px;
  margin-bottom: 20px;
}
.tercerCards .rott {
  height: 650px;
}
.tercerCards .sanBer {
  height: 500px;
}
.tercerCards .pit {
  height: 820px;
}
.tercerCards .dogArg {
  height: 650px;
}

/* DEPORTES */
.mainDeportes .fotos {
  width: 300px;
  height: 300px;
}
.mainDeportes .fotos .imgFoto {
  width: 300px;
  height: 300px;
}

/* .carrusel{
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    .deporte{
        flex: 1 0 auto;
        margin: 0 50px;
        width: 500px;
        height: 500px;

    }
} */
/* CONTACTO */
.contactoBody {
  background-color: rgb(221, 208, 213);
}

.principal {
  padding: 50px;
}
.principal .principal-uno {
  text-align: center;
}
.principal .principal-dos {
  text-align: center;
}

/* MEDIA */
/* index, pagina principal */
@media (min-width: 1024px) {
  .header-Index {
    border: solid 1px rgb(76, 0, 255);
  }
  .header-Index .contTitulo {
    border: solid 1px rgb(238, 255, 0);
  }
  .indexNav {
    display: flex;
    border: solid 1px rgb(38, 0, 255);
    height: 600px;
    margin-right: 200px;
  }
  .navIndex {
    width: 500px;
    border: solid 1px rgb(94, 255, 0);
  }
  .navIndex ul {
    border: solid 1px rgb(0, 255, 200);
  }
  .navIndex ul li {
    border: solid 1px red;
  }
  .indexMain {
    border: solid 1px red;
  }
  .primerSec {
    height: 500px;
  }
  .primerSec .contFotoParra {
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 500px;
    margin-left: 500px;
    margin-bottom: 400px;
  }
  .primerSec .contFotoParra img {
    margin-left: 400px;
    margin-bottom: 0;
  }
  .primerSec .contFotoParra .contenedorParrafo {
    height: 100px;
    width: 1000px;
    margin-left: 0;
  }
  .tecnologias {
    display: inline-flex;
    border: solid 1px rgb(0, 247, 255);
    height: 100px;
  }
  .tecnologias img {
    height: 50px;
    width: 50px;
  }
}
/*  PAGINA POKEMONES */
.allPoke .header-Poke .sect-Titulo .tituloPoke {
  font-size: 70px;
}

@media (min-width: 768px) {
  .header-Index {
    height: 500px;
    display: flex;
    flex-direction: column;
  }
  .indexNav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-top: 50px;
  }
}
@media (min-width: 425px) {
  .navIndex {
    display: flex;
    width: 200px;
    height: 400px;
    margin-right: 100px;
  }
  .navIndex ul {
    width: 200px;
    height: 400px;
    margin-left: 15%;
  }
  .navIndex ul li {
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
  }
}
@media (min-width: 375px) {
  .navIndex {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 400px;
    margin-right: 110px;
    justify-content: center;
  }
  .navIndex ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
/* INDEX */
@media (min-width: 320px) {
  .navIndex {
    margin-left: 15px;
  }
  .primerSec {
    width: 100%;
    height: 1600px;
  }
  .primerSec .contFotoParra {
    margin-right: 500px;
    margin-bottom: 15px;
  }
  .primerSec .fotoIndex {
    height: 150px;
    width: 150px;
    margin-top: 80px;
    margin-left: 580px;
  }
  .contenedorParrafo {
    text-align: center;
    margin-left: 500px;
    margin-top: 50px;
    width: 300px;
    height: 300px;
  }
  .indexMain .tecnologias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }
}
.footer-Index {
  height: 200px;
  width: 100%;
}
.footer-Index .contactoFooter {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 200px;
  align-items: center;
}
.footer-Index .contactoFooter .cards {
  width: 40px;
  height: 40px;
  padding: 0;
  justify-content: center;
  justify-items: center;
  margin-left: 20px;
}
.footer-Index .contactoFooter .cards img {
  height: 30px;
  width: 30px;
}

/*# sourceMappingURL=style.css.map */
