
@media(min-width:425px){
    .navIndex{
        display: flex;
        width: 200px;
        height: 400px;
        margin-right: 100px;
        ul{
            width: 200px;
            height: 400px;
            margin-left: 15%;
        li{
            flex-direction: column;
            margin: 0 auto;
            padding: 20px;
        }    
        }

    }
}