
@media(min-width:768px){

    .header-Index{
        height: 500px;
        display: flex;
        flex-direction: column;
    }

    .indexNav{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10%;
        margin-top: 50px;
    }

}


    

