
@media(min-width:375px){
    .navIndex{
        display: flex;
        flex-direction: column;
        width: 200px;
        height: 400px;
        margin-right: 110px;
        justify-content: center;

        ul{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
}
}