
.mainDeportes{
    .fotos{
            width: 300px;
            height: 300px;
        .imgFoto{
            width: 300px;
            height: 300px;
        }

    }
    
}

/* .carrusel{
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    .deporte{
        flex: 1 0 auto;
        margin: 0 50px;
        width: 500px;
        height: 500px;

    }
} */