
.header-Poke{
    width: 100%;
    height: 400px; 
    
}

.navPoke{
    border-radius: 5px;
    position: absolute; 
    ul{
        height: 67px;
        width: 100%;
        li{
            list-style: none;
            padding: 25px 0;
            text-align: left;
            a{
                text-decoration: none;

            }
    }
}
}
.sect-Titulo{
    
    .contTitulo{
        margin-top: 50px;
        padding: 30px;
        width: 100%;
    .tituloPoke{
        text-align: center;
        font-size: 100px;
        margin-top: 150px;
    }
}
}
