
$color-index: rgb(221, 208, 213);
$color-foot: rgb(216, 188, 233);
$color-header: rgb(233, 188, 188);

$poke-index: (#61B876);
$poke-main:(#61B876);
$poke-footer: rgb(214, 149, 149);

$perros-index: rgb(180, 5, 5);
$perros-header: rgb(143, 143, 143);