
$color-index: rgb(221, 208, 213);
$color-foot: rgb(216, 188, 233);
$color-header: rgb(233, 188, 188);

$poke-index: (#61B876);
$poke-main:(#61B876);
$poke-footer: rgb(148, 182, 148);

$perros-index: rgb(103, 119, 170);
$perros-header: rgb(143, 143, 143);
$perros-foot: rgb(39, 39, 39);