
*{
    box-sizing: border-box;
    margin: 0;
}

.allIndex{
    background-color: $color-index;
}
.allPoke{
    background-color: $poke-index;
}


.allPerros{
    background-color: $perros-index;
}

.header-Perros{
    background-color: $perros-header;
}

.foot-Perros{
    background-color: $perros-index;
} 

.bodyContacto{
    background-color: $color-index;
}
.mainContacto{
    background: red;
}