

.navIndex{
    float:right;
    ul{
        margin-right: 15px;
        li{
            list-style: none;
            margin-left: 70px;
            padding: 25px 0;
            float: left;
            a{
                text-decoration: none;
                color: black;
            }
    }
}
}